<div class="container">
{{!-- Jumbotron contains the submit box, the image, and the app name --}}
    <div class="jumbotron">
        <h1>Eat-Da-Burger!</h1>
        <br>
        <h2>Place Your Order</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    {{!-- Makes the text box for typing in new orders --}}
                    <input type="text" id="newburger" name="burger">
                    {{!-- Makes the submit button for the text box, triggering addburger function --}}
                    <button type="submit" class="btn btn-success" id="addburger">
                        <strong>Submit</strong>
                    </button>
                </div>
            </form>
        </panel>
    </div>
    {{!-- The second row contains the two columns that contain the lists of burgers --}}
    <div class="row">
        {{!-- Left side column --}}
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Your Burgers</strong>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><strong>Devour it!</strong></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        {{!-- Right side column --}}
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Burgers You Have Eaten</strong>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>